<a href="https://colab.research.google.com/github/Abishek302000/ifelse/blob/main/list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
list1 = ['physics', 'chemistry', 1997, 2000];
list2 = [1, 2, 3, 4, 5, 6, 7 ];
print ("list1[0]: ", list1[2])
print ("list2[1:5]: ", list2[1:3])

list1[0]:  1997
list2[1:5]:  [2, 3]

In [1]:
list = ['physics', 'chemistry', 2000, 2003];
print ("Value available at index 2 : ")
print (list[2])
list[2] = 9999;
print ("New value available at index 2 : ")
print (list[2])

Value available at index 2 :
2000
New value available at index 2 :
9999

In [ ]:
list1 = ['physics', 'chemistry', 1997, 2000];
print (list1)
del (list1[2]);
print ("After deleting value at index 2 :")
print (list1)

['physics', 'chemistry', 1997, 2000]
After deleting value at index 2 :
['physics', 'chemistry', 2000]

In [2]:
list1, list2 = [123, 'xyz', 'abi'], [456, 'abc']
print ("First list length : ", len(list1))
print ("Second list length : ", len(list2))

First list length :  3
Second list length :  2

In [ ]:
aList = [123, 'xyz', 'zara', 'abc'];
aList.append( 2009 );
print ("Updated List : ", aList)

Updated List :  [123, 'xyz', 'zara', 'abc', 2009]

In [ ]:
aList = [123, 'xyz', 'xyz', 'abc', 123];
print ("Count for xyz : ", aList.count('xyz'))
print ("Count for zara : ", aList.count('zara'))

Count for xyz :  2
Count for zara :  0

In [ ]:
aList = [123, 'xyz', 'zara', 'abc', 123];
bList = [2009, 'shabnam'];
aList.extend(bList)
print ("Extended List : ", aList)

Extended List :  [123, 'xyz', 'zara', 'abc', 123, 2009, 'shabnam']

In [ ]:
aList = [123, 'xyz', 'zara', 'abc', 'zara'];
print ("Index for xyz : ", aList.index( 'xyz' ) )
print ("Index for zara : ", aList.index( 'zara' ) )

Index for xyz :  1
Index for zara :  2

In [ ]:
aList = [123, 'xyz', 'zara', 'abc']
aList.insert( 3, 2009)
print ("Final List : ", aList)

Final List :  [123, 'xyz', 'zara', 2009, 'abc']

In [3]:
aList = [123, 'xyz', 'abi', 'abc'];

print(aList)

print ("List after popping last element : ", aList.pop())

print(aList)

print ("List after popping element from mentioned index: ", aList.pop(2))

print(aList)

aList.insert(3, 2009)

print(aList)

[123, 'xyz', 'abi', 'abc']
List after popping last element :  abc
[123, 'xyz', 'abi']
List after popping element from mentioned index:  abi
[123, 'xyz']
[123, 'xyz', 2009]

In [ ]:
aList = [123, 'xyz', 'zara', 'abc', 'xyz'];
aList.remove('xyz');
print ("List : ", aList)
aList.remove('abc');
print ("List : ", aList)

List :  [123, 'zara', 'abc', 'xyz']
List :  [123, 'zara', 'xyz']

In [5]:
aList = ['abishek', 'xyz', 'zara', 'abc', 'abi'];
aList.reverse();
print ("List : ", aList)

List :  ['abi', 'abc', 'zara', 'xyz', 'abishek']

In [6]:
aList = ['ananya', 'abishek', 'brinda', 'hemanth'];
aList.sort();
print ("List : ", aList)

List :  ['abishek', 'ananya', 'brinda', 'hemanth']

In [ ]:
aList = [123, 'xyz', 'zara', 'abc', 'xyz'];
aList.sort();
print ("List : ", aList)

TypeError: '<' not supported between instances of 'str' and 'int'